# example | progfun | recfun | funsets | objsts
*/*.class
*/*.log
*/.cache/
*/.history/
*/.lib/
*/dist/*
*/target/
*/lib_managed/
*/src_managed/
*/project/boot/
*/project/plugins/project/
*/project/target/
*/project/project/target/
*/submission/
*/.scala_dependencies
*/.worksheet
*/.idea
*/.classpath
*/.project
*/.settings

# objsets/
objsets

# zips/
zips
